/*  about 1 */
#about-head {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #1a1a1a;
    color: #fff;
    min-height: 80vh;
    border-radius: 15px;
    box-shadow: 10px 7px 15px white;
    margin-top: 93px;
    /*border: 1px solid white;*/
}
#about-head .about-text {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
#about-head .about-text h1{
    font-family: my-Font;
    font-size: 6rem;
    color: rebeccapurple;
}
#about-head .about-text h2 {
    font-family: my-Font;
    font-size: 4rem;
    width: 80%;
    text-align: center;
    color: #fbd3d3;
}

#about-head .about-text p {
    font-family: 20px;
    line-height: 1.5rem;
    max-width: 90%;
    margin: 0 auto;
    text-align: center;
    padding: 0 20px;
}
@media screen and (max-width: 1040px) {
    body {
        overflow-x: hidden;
    }

    /* all section padding */

    .section-p1 {
        padding:20px;
    }

    /* navbar */
   
    /* about page */
    #about-head {
        color: #fff;
        min-height: 30vh;
    }
    #about-head .about-text h1 {
        font-size: 4rem;
    }
    #about-head .about-text h2 {
        font-size: 3rem;
        width: 70%;
    }
    #about-head .about-text p {
        font-size: 20px;
        line-height: 20px;
        max-width: 90%;
    }

  
   
}

@media (max-width: 799px) {
    body {
        overflow-x: hidden;
    }

    /* all section padding */

    .section-p1 {
        padding:20px;
    }
/* about page */
     #about-head {
        color: #fff;
        min-height: 30vh;
    }
    #about-head .about-text h1 {
        font-size: 3rem;
    }
    #about-head .about-text h2 {
        font-size: 2rem;
        width: 70%;
    }
    #about-head .about-text p {
        font-size: 14px;
        line-height: 20px;
        max-width: 90%;
        padding-top: 10px;
    }

    
}

@media screen and (max-width: 477px) {
    body {
        overflow-x: hidden;
    }

    /* all section padding */

    .section-p1 {
        padding:20px;
    }

   
    /* about */
    #about-head .about-text h1 {
        font-size: 2rem;
    }
    #about-head .about-text h2 {
        font-size: 1.5rem;
        width: 90%;
    }
    #about-head .about-text p {
        width: 100%;
        padding: 0px 0px;
        padding-top: 10px;
    }

}

/* about 2 css */

.descriptive-pics{
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 80vh;
    position: relative;
}
.descriptive-pics .contains-image {
    width: 100%;
    height: 100%;
}

.descriptive-pics .contains-image img {
    width: 100%;
    height: 100%;
    border-radius: 15px;
    z-index: -3;
}

.descriptive-pics .span-it {
    display: flex;
    position: absolute;
    top: 40px;
    color:  #fbd3d3;
    max-width: 400px;
    margin-left: 50px;
    font-size: 5.5rem;
    font-family: my-Font;
    font-weight: 700;
}

@media screen and (max-width: 1040px) {
    body {
        overflow-x: hidden;
    }

    /* all section padding */

    .section-p1 {
        padding:20px;
    }

    /* about section2 */

    .descriptive-pics {
        height: 30vh;
    }
    .descriptive-pics .span-it {
        font-size: 4rem;
    }

    
}

@media (max-width: 799px) {
    body {
        overflow-x: hidden;
    }

    /* all section padding */

    .section-p1 {
        padding:20px;
    }
    /* about section2 */

    .descriptive-pics {
        height: 30vh;
    }
    .descriptive-pics .span-it {
        font-size: 3rem;
        max-width: 230px;
    }

   
}

@media screen and (max-width: 477px) {
    body {
        overflow-x: hidden;
    }

    /* all section padding */

    .section-p1 {
        padding:20px;
    }

    .descriptive-pics {
        height: 50vh;
    }
    .descriptive-pics .span-it {
        max-width: 200px;
        font-size: 2.5rem;
        margin-left: 30px;
    }
    
}

/* about 3 css */

.about-details {
    display: flex;
    flex-direction: column;
    padding: 80px 80px;
    padding-bottom: 20px;
    width: 100%;
    min-height: 60vh;
    border-radius: 15px;
    position: relative;
    background: white;
}

.about-details .vision h1,
.about-details .values h1 {
    font-size: 4rem;
    display: flex;
    flex-direction: column;
    text-align: left;
    font-family: my-Font;
    color: var(--pink);
}

.about-details .vision p,
.about-details .values p {
    font-size: 18px;
    line-height: 20px;
    font-weight: 400;
    text-align: justify;
    color: var(--colored-border);
    margin-bottom: 20px;
}

.about-details .div-button {
    background: rebeccapurple;
    padding: 15px 0px;
    width: 10%;
    text-align: center;
    color: white;
    font-size: 16px;
    font-weight: 600;
    border-radius: 4px;
}

.about-details .div-button:hover {
    background: var(--dark-color);
}

@media screen and (max-width: 1040px) {
    body {
        overflow-x: hidden;
    }

    /* all section padding */

    .section-p1 {
        padding:20px;
    }

    .about-details {
        padding: 20px 20px;
        width: 100%;
        min-height: 28vh;
    }
    .about-details::before {
        height: 70%;
        top: 3%;
    }
   
    .about-details .vision h1, .about-details .values h1 {
        font-size: 3rem;
    }
    .about-details .vision p, .about-details .values p {
        font-size: 18px;
        line-height: 20px;
    }
}

@media (max-width: 799px) {
    body {
        overflow-x: hidden;
    }

    /* all section padding */

    .section-p1 {
        padding:20px;
    }
    /* about rule */
    .about-details {
        padding: 40px 20px;
        width: 100%;
        min-height: 30vh;
    }
    .about-details::before {
        height: 70%;
        top: 3%;
    }
   
    .about-details .vision h1, .about-details .values h1 {
        font-size: 3rem;
    }
    .about-details .vision p, .about-details .values p {
        font-size: 18px;
        line-height: 20px;
    }
    
}

@media screen and (max-width: 477px) {
    body {
        overflow-x: hidden;
    }

    /* all section padding */

    .section-p1 {
        padding:20px;
    }

    .about-details {
        padding: 40px 20px;
        width: 100%;
        min-height: 30vh;
    }

    .about-details::before {
        height: 0%;
        top: 3%;
        width:0%;
        background: #fff;
    }
    .about-details .vision h1, .about-details .values h1 {
        font-size: 2.2rem;
    }
    .about-details .vision p, .about-details .values p {
        font-size: 12px;
        line-height: 20px;
        margin-top: 15px;
    }
    .about-details .div-button {
        padding: 10px 0px;
        width: 30%;
        border-radius: 10px;
        font-size: 12px;

    }
    /* newsletter */
}