.boxes {
    width: 100%;
    padding: 20px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.boxes .box1 {
    display: flex;
    width: 300px;
    height: 100px;
    border-radius: 20px;
    box-shadow: 0px 7px 25px var(--boxshadow);
    justify-content: space-around;
    align-items: center;
    font-size: 1.2rem;
}

.boxes .box1 .icn-bx {
    font-size: 2rem;
    color: var(--pink)
}
.boxes .box1:hover {
    background: var(--purple3);
    color: var(--white3);
}
.boxes .box2 {
    background: var(--purple3);
    color: var(--white);
}

.boxes .box0,
.boxes .box3 {
    background: var(--white);
    color: var(--purple3);
    cursor: pointer;
}
.created-quiz {
    border-radius: 20px;
    width: 95%;
    box-shadow: 0px 7px 25px var(--boxshadow);
    margin-left: 20px;
    margin-top: 30px;
}

.created-quiz .all-quiz {
    width: 98%;
    display: flex;
    flex-direction: column;
    margin: 0px auto;
    
}

.created-quiz .all-quiz .popup {
    margin-top: 10px;
    width: 100%;
    display : block;
    font-size: 1rem;
    font-weight: 700;
    padding: 10px 10px;
    margin-bottom: 20px;
    border-radius: 10px;
    box-shadow: 0px 7px 25px var(--boxshadow);
    color: rebeccapurple;
}
.created-quiz .all-quiz .quizName:hover {
    background: #fff;
    color: var(--purple3);
}
.quiz0 {
    display: flex;
    flex-direction: column;
    width: 98%;
    padding: 10px 10px;
    box-shadow: 0px 7px 25px rgba(0, 0, 0, 0.3);
    border-radius: 15px;
}
 .linkQuiz{
    font-weight: 600;
    color: var(--purple3);
    font-size: 1.2rem;
    margin: 10px 0px;
}
.Quiz1 {
    display: flex;
    flex-direction: column;
    width: 100%;
}
.Quiz1 span {
    display: block;
    width: 100%;
    padding: 10px 0px;
    font-weight: 400;
    font-weight: 1rem;
    color: #444;
}

.all-courses {
    width: 100%;
    padding: 10px 20px;
    color: rgb(99, 247, 99);
}
.popup {
    position: relative;
    display: inline-block;
    cursor: pointer;
  }
  
  .popup .popuptext {
    visibility: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100vh;
    color: rebeccapurple;
    background-color: var(--rgba);
    text-align: center;
    border-radius: 6px;
    padding: 8px 0;
    position: fixed;
    z-index: 3;
    bottom: 125%;
    left: 0%;
    top: 0%;
  }
  .popup .popuptext .pop {
    display: flex;
    justify-content: space-between;
    align-items: center;
    min-width: 40%;
    height: 150px;
    background: var(--purple);
    color: #fff;
    border-radius: 20px;
    padding: 20px; 
  };

  .popup .popuptext .pop span {
    font-size: 2rem;
  }

  .popup .popuptext .pop .link-Quiz {
    display: flex;
    flex-direction: column;
    min-width: 80px;
    background: var(--pink4);
    align-items: space-between;
    color: var(--pink3);
    padding: 10px 10px;
    border-radius: 20px;
    font-size: 10px;
    text-decoration: none;
  }

  .popup .popuptext .pop .link-Quiz:hover {
    background: #222;
  } 

  .popup .popuptext .pop .link-Quiz i {
    font-size: 2rem;
  }

  
  /* Popup arrow */
  .popup .popuptext::after {
    content: "";
    position: absolute;
    top: 100%;
    left: 50%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: #555 transparent transparent transparent;
  }
  
  .popup .show {
    visibility: visible;
    -webkit-animation: fadeIn 1s;
    animation: fadeIn 1s
  }

  .reveal {
    display: flex;
    flex-direction: column;
  }

  .questionaire{
    display: flex;
    flex-direction: column;
    margin-top: 20px;
    height: 400px;
    width: 100%;
    padding: 10px 20px;
    align-items: flex-start;
    border-radius: 20px;
    border: 1px solid var(--pink);
    box-shadow: 0px 7px 25px rgba(0, 0, 0, 0.08);
    overflow-y: auto;
    background: var(--white);
    scrollbar-width: none;
  }

  .questionaire .real {
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }
  .questionaire .sub, .questionaire .back {
    color: var(--pink);
    padding: 7px 0px;
    font-weight: 600;
  }
  .questionaire .back i {
    font-size: 20px;
  }

  .questionaire .real {
    padding: 10px 0px;
  }

 .questionaire .real span, 
 .questionaire .real p {
    padding: 10px 0px;
    color: var(--dark);

  }
  .questionaire .real .que {
    color: var(--pink);
  }
  .questionaire .real img {
    width: 200px;
    margin-bottom: 10px;
    border-radius: 20px;
  }
  @-webkit-keyframes fadeIn {
    from {opacity: 0;}
    to {opacity: 1;}
  }
  
  @keyframes fadeIn {
    from {opacity: 0;}
    to {opacity:1 ;}
  }